<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
<!--  <link rel="style"href="style.css">-->
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<!--    <link rel="stylesheet" href="styles.css">-->
</head>

<body>
 <div class="login">
	<h1> Precision Farming: A Crop Yield Model Using Random Forest Classifier</h1>
	<h3>Empowering Farmers with Smart Crop Predictions for Better Yields and Sustainable Farming.</h3>
	<h4>"Predict the ideal crop for your soil based on Nitrogen, Phosphorus, Potassium, Temperature, Humidity, pH, and Rainfall."</h4>
	<h5>(Enter parameters received from sensors and click predict to get the result.)</h5>
    <!-- N	P	K	temperature	humidity	ph	rainfall	label -->
     <!-- Main Input For Receiving Query to our ML -->
     <form action="{{ url_for('predict') }}" method="post">
      <input type="number" name="Nitrogen" placeholder="Nitrogen (0-140)" required="required" step="0.001" min="0" max="140" title="Enter a value between 0 and 140">
      <input type="number" name="Phosphorus" placeholder="Phosphorus (5-145)" required="required" step="0.001" min="5" max="145" title="Enter a value between 5 and 145">
      <input type="number" name="Potassium" placeholder="Potassium (5-205)" required="required" step="0.001" min="5" max="205" title="Enter a value between 5 and 205">
      <input type="number" name="temperature" placeholder="Temperature (8.83-43.68)" required="required" step="0.001" min="8.83" max="43.68" title="Enter a value between 8.83 and 43.68">
      <input type="number" name="humidity" placeholder="Humidity (14.26-99.98)" required="required" step="0.001" min="14.26" max="99.98" title="Enter a value between 14.26 and 99.98">
      <input type="number" name="pH" placeholder="pH (3.50-9.94)" required="required" step="0.01" min="3.50" max="9.94" title="Enter a value between 3.50 and 9.94">
      <input type="number" name="rainfall" placeholder="Rainfall (20.21-298.56)" required="required" step="0.001" min="20.21" max="298.56" title="Enter a value between 20.21 and 298.56">
      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
  



   <br>
   <br>
     <h1 id="predi">
   {{ prediction_text }}
     </h1>

 </div>


</body>
</html>
